# -----------------------------
# Maven (сборка и артефакты)
# -----------------------------
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Разрешаем Git отслеживать Maven Wrapper и его jar
!.mvn/wrapper/maven-wrapper.jar
!**/mvnw
!**/mvnw.cmd

# -----------------------------
# IntelliJ IDEA
# -----------------------------
.idea/
*.iws
*.iml
*.ipr
out/

# -----------------------------
# Логи и ОС-файлы
# -----------------------------
*.log
logs/
.DS_Store
Thumbs.db